<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Bootstrap Template</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Header Section -->
<div th:replace="fragments/header :: header"></div>
<!--MainContentSection-->
<div class="container my-5">
</div>
<!-- Footer Section -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>